.footer{
    padding: 95px 100px;
    background-color: #EDECEC;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 8px;
}
.nav_footer{
    width: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.nav_footer_h{
    font-size: 16px;
    font-weight: 700;
}
.nav_footer>a{
    color:black;
}