.banner{
    position: relative;
    color:white;
    margin-top: 40px;
}

.banner>img{
    position: absolute;
    z-index: -999;
    left: 0;
}
.banner_head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 543px;
}
.banner_head>h1{
    font-size: 58px;
    
}
.banner_head>p{
    font-size: 20px;
    margin-top: 7px;
    font-weight: 100;
    margin-bottom: 60px;
}